<img  src="/image/cat_resultat.png " alt="cat_resultat">
<h1>Résultats</h1>
Sélectionner un grand prix :
<form  method="GET" action="/ajouterResultat2"class="form-example">
    <select name="gpnum">
            {{#each listeResultat}} 
            <option value={{this.gpnum}} >
                {{this.gpnom}}
            </option>
            {{/each}}
    </select>
    <div class="form-example-btn">
            <input type="submit" value="Valider">
        </div>
</form>