<div class="administration">
    <h1>Administration</h1>

    <form action="" method="get" class="form-example">
    <div class="form-example">
        <label for="name">Login : </label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="form-example">
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="form-example-btn">
        <input type="submit" value="Connexion !">
    </div>
    <div class="form-example-btn">
        <input type="submit" value="Annuler !">
    </div>
    </form>
</div>