<h1> Vous venez de supprimer le sponsor  : {{SponsorInfoSuppression.sponum}} </h1>


<b>Nom du sponsor :</b> {{SponsorInfoSuppression.sponom}}<br><br>
<b>Activité du sponsor :</b> {{SponsorInfoSuppression.sposectactivite}}<br><br>

